
# BEGIN ShortPixelWebp
# `BEGIN ShortPixelWebp` ve `END ShortPixelWebp` arasındaki yönergeler (satırlar)
# dinamik olarak oluşturulmuştur ve sadece WordPress süzgeçleri ile düzenlenmelidir.
# Bu işaretler arasındaki yönergelerde yapılan değişiklikler üzerine yazılacaktır.

# END ShortPixelWebp